h3.blog-desc-big {
    display: block;
    font-size: 34px;
    line-height: 44px;
    font-weight: 600;
    color: #292922;
    margin-bottom: 20px;
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
    max-width: 700px;
    margin: auto;
}

.blog-post-align {
    display: grid;
    grid-template-columns: 70px 1fr;
    max-width: 300px;
    margin: auto;
    align-items: center;
}

.w3l-homeblock1 .author, .w3l-blog-slider .author, .w3l-blog-block2 .author, .w3l-author .author {
  color: #999; }

.w3l-homeblock1 .author a, .w3l-blog-slider .author a, .w3l-blog-block2 .author a, .w3l-author .author a {
  color: #292922;
  font-weight: 400; }

.w3l-homeblock1 .author a:hover, .w3l-blog-slider .author a:hover, .w3l-blog-block2 .author a:hover, .w3l-author .author a:hover {
  color: #536390;}

.w3l-homeblock1 li.meta-item, .w3l-blog-slider li.meta-item, .w3l-blog-block2 li.meta-item, .w3l-author li.meta-item {
    display: inline-block;
    margin-right: 10px;
    font-size: 15px;
    color: #888;
}

.radius-image {
    border-radius: 5px;
}

.single-post-content {
    max-width: 850px;
    margin: auto;
}

.single-post-content p a {
  font-weight: 600;
  color: var(--heading-color); }

.single-post-content p a:hover {
  text-decoration: underline; }

p.alphabet {
    display: grid;
    grid-template-columns: 75px auto;
    align-items: center;
}

span.big-letter {
    font-size: 85px;
    color: var(--heading-color);
    font-weight: 600;
}

.blog-post-main .blockquote {
    position: relative;
    position: relative;
    padding-left: 60px;
    font-size: 20px;
    font-style: italic;
    font-weight: 500;
}

.blog-post-main .icon-quote {
    position: absolute;
    top: 4px;
    left: 0px;
}

.blog-post-main .blockquote-footer {
    display: flex;
    align-items: center;
    color: #999;
}

h3.blog-desc-big {
    display: block;
    font-size: 34px;
    line-height: 44px;
    font-weight: 600;
    color: var(--heading-color);
    margin-bottom: 20px;
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
    max-width: 700px;
    margin: auto;
}

.d-grid {
  display: grid; }

.left-right {
  grid-template-columns: auto auto;
  grid-gap: 50px;
  justify-content: space-between; }


.buttons-singles h4 {
  display: inline-block;
  margin-right: 30px;
  font-size: 24px;
  font-weight: 600; }

.buttons-singles a {
  color: #999;
  font-size: 18px;
  margin-right: 10px;
  display: inline-block; }

.buttons-singles a:hover {
  color: #0085ad; }

.buttons-singles.tags a {
  color: #696969;
  font-size: 16px;
  margin-right: 10px;
  display: inline-block;
  padding: 0 10px;
  border: 1px solid  #ddd;
  font-weight: 500;
  border-radius: 5px; }











