h3.blog-desc-big {
    display: block;
    font-size: 34px;
    line-height: 44px;
    font-weight: 600;
    color: #292922;
    margin-bottom: 20px;
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
    max-width: 700px;
    margin: auto;
}

.blog-post-align {
    display: grid;
    grid-template-columns: 70px 1fr;
    max-width: 300px;
    margin: auto;
    align-items: center;
}

.w3l-homeblock1 .author, .w3l-blog-slider .author, .w3l-blog-block2 .author, .w3l-author .author {
  color: #999; }

.w3l-homeblock1 .author a, .w3l-blog-slider .author a, .w3l-blog-block2 .author a, .w3l-author .author a {
  color: #292922;
  font-weight: 400; }

.w3l-homeblock1 .author a:hover, .w3l-blog-slider .author a:hover, .w3l-blog-block2 .author a:hover, .w3l-author .author a:hover {
  color: #536390;}

.w3l-homeblock1 li.meta-item, .w3l-blog-slider li.meta-item, .w3l-blog-block2 li.meta-item, .w3l-author li.meta-item {
    display: inline-block;
    margin-right: 10px;
    font-size: 15px;
    color: #888;
}

.radius-image {
    border-radius: 5px;
}

.single-post-content {
    max-width: 850px;
    margin: auto;
}

.single-post-content p a {
  font-weight: 600;
  color: #292922; }

.single-post-content p a:hover {
  text-decoration: underline; }

p.alphabet {
    display: grid;
    grid-template-columns: 75px auto;
    align-items: center;
}

span.big-letter {
    font-size: 85px;
    color: #292922;
    font-weight: 600;
}

.blog-post-main .blockquote {
    position: relative;
    position: relative;
    padding-left: 60px;
    font-size: 20px;
    font-style: italic;
    font-weight: 500;
}

.blog-post-main .icon-quote {
    position: absolute;
    top: 4px;
    left: 0px;
}

.blog-post-main .blockquote-footer {
    display: flex;
    align-items: center;
    color: #999;
}

h3.blog-desc-big {
    display: block;
    font-size: 34px;
    line-height: 44px;
    font-weight: 600;
    color: #292922;
    margin-bottom: 20px;
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
    max-width: 700px;
    margin: auto;
}

.text-list ol li {
    font-size: 18px;
    line-height: 26px;
    margin: 12px 0;
    color: #292922;
    list-style-type: decimal;
    font-weight: 600;
}

.d-grid {
  display: grid; }

.left-right {
  grid-template-columns: auto auto;
  grid-gap: 50px;
  justify-content: space-between; }


.buttons-singles h4 {
  display: inline-block;
  margin-right: 30px;
  font-size: 24px;
  font-weight: 600; }

.buttons-singles a {
  color: #999;
  font-size: 18px;
  margin-right: 10px;
  display: inline-block; }

.buttons-singles a:hover {
  color: #0085ad; }

.buttons-singles.tags a {
  color: #696969;
  font-size: 16px;
  margin-right: 10px;
  display: inline-block;
  padding: 0 10px;
  border: 1px solid  #ddd;
  font-weight: 500;
  border-radius: 5px; }

@media (max-width: 736px) {
  h3.blog-desc-big {
    font-size: 30px;
    line-height: 40px; }
  .left-right {
    grid-template-columns: auto;
    grid-gap: 25px; } }

@media (max-width: 568px) {
  h3.blog-desc-big {
    font-size: 28px;
    line-height: 36px; } }

@media (max-width: 480px) {
  .blog-post-main .blockquote {
    font-size: 18px; }
  .text-list ol {
    padding-left: 20px; }
  .buttons-singles h4 {
    margin-right: 8px; }
  .buttons-singles.tags a {
    font-size: 15px;
    margin-right: 5px; }
  .author-card {
    padding: 20px; }
  .blog-post-main .media.second {
    grid-template-columns: 1fr; }
  .post-content iframe, .sing-post-thumb iframe {
    height: 300px; } }

@media (max-width: 415px) {
  .post-content iframe, .sing-post-thumb iframe {
    height: 210px; } }

@media (max-width: 384px) {
  h3.blog-desc-big {
    font-size: 26px;
    line-height: 32px; }
  .blog-post-main .comments .media {
    grid-template-columns: auto;
    grid-gap: 20px; } }

@media (max-width: 375px) {
  h3.blog-desc-big {
    font-size: 24px;
    line-height: 30px; }
  .post-content iframe, .sing-post-thumb iframe {
    height: 190px; } }

.w3l-error {
  max-width: 950px;
  margin: auto; }

h1.error-title {
  font-size: 80px;
  color: #0085ad;
  font-weight: 700; }

@media (max-width: 736px) {
  .w3l-error {
    max-width: 650px;
    text-align: center; } }
































